@import '../../assets/variables.scss';

.sidebar-left{
    padding-top: 15px;
    margin-right: 15px;
}


.sidebar-links{
    background: $white;
    padding: 20px;
    

    ul{
        list-style: none;
       i{
           padding-right: 10px;
       } 

       li{
        border-bottom: 1px solid $gray-border;
       }

       li:hover,li:active,li:focus,li:visited{
           border-left: 10px solid $blue;
           padding-left: 10px;
       }
    }

    .nav-link{
        text-decoration: none;
        color: $black;
        line-height: 3;
    }


}