@import "../../assets/variables.scss";

.container{
    max-width: 1200px;
    margin: auto;
}

.userList-grid{
    display: grid;
    grid-template-columns: 3fr 9fr;
}


.userList-title{
    text-align: center;
    padding: 25px 0px;

    span{
        color: $blue;
        padding: 0px 10px;
    }
}

.user-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
