.user-list-card {
  display: grid;
  grid-template-columns: 3fr 9fr;
  max-width: 420px;
  padding: 20px 0px;
  margin-top: 15px;
  background: #ffffff;
  border-radius: 4px;
}

.user-name, .user-company {
  margin-bottom: 5px;
}
