
$black: #181818;
$white: #FFFF;
$blue: #0275B1;
$dark-blue: #0E6795;
$green:#00ce00;
$background-color: #F7F9FB;
$placeholder-color:#e6e6e6;
$gray-border:#f3f3f3;
$mute-color:#cccccc;
$font-size-default: 12px;
$text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
