@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro-Bold.woff");
  src: url("./fonts/GothamPro-Light.woff");
}

body {
  margin: 0;
  font-family: "GothamPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
